.navbar-login-btn-text {
    padding-left: 10px;
}

.navbar-login-btn-text-signed-in {
    padding-left: 10px;
    position: relative;
    top: -14px;
}


.navbar-login-btn {
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    background: transparent !important;
    color: white !important;
}

.navbar-login-btn-signed-in {
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    position: relative;
    top: -15px;
    background: transparent !important;
    color: white !important;
}

@media screen and (max-width: 680px) {
    .navbar-login-btn-signed-in {
        position: relative;
        left: -10vw;
    }
}

@media screen and (max-width: 455px) {
    .navbar-login-btn-signed-in {
        position: relative;
        left: -22vw;
    }
}